.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#resizable {
    width: 800px;
    height: 600px;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #75777a;
    overflow: hidden;
    position: relative;
}

#resizable h3 {
    text-align: center;
    margin: 0;
}

.draggable {
    position: relative;
    width: 120px;
    height: 150px;
    padding: 0.5em;
    float: left;
    z-index: 10;
}

#content {
    width: 100%;
    height: 95%;
}

.folder {
    background: url("../img/folder.png") no-repeat;
    background-size: auto 80%;
}

.file {
    background: url("../img/txt.png") no-repeat;
    background-size: auto 80%;
}

.draggable input {
    position: absolute;
    background: transparent;
    bottom: 10px;
    text-align: center;
    border: none;
    width: 90%;
    font-size: 20px;
    font-family: FreeSans, serif;
}

.ui-menu { width: 150px; }

.contextmenu {
    position: absolute;
    display: none;
    z-index: 11;
}

#bin {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 150px;
    padding: 0.5em;
    background: url("../img/bin.png") no-repeat;
    background-size: contain;
}