.container {
    width: 1210px;
    height: 760px;
    margin-left: auto;
    margin-right: auto;
    /*background: url("../img/ironman.jpg");*/
}

#puzzle {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#puzzle li {
    margin: 0;
    padding: 0;
    float: left;
    width: 240px;
    height: 150px;
    text-align: center;
}

#part1 {
    background: url("../img/ironman.jpg") 0 0;
}

#part2 {
    background: url("../img/ironman.jpg") -240px 0;
}

#part3 {
    background: url("../img/ironman.jpg") -480px 0;
}

#part4 {
    background: url("../img/ironman.jpg") -720px 0;
}

#part5 {
    background: url("../img/ironman.jpg") -960px 0;
}

#part6 {
    background: url("../img/ironman.jpg") 0 -150px;
}

#part7 {
    background: url("../img/ironman.jpg") -240px -150px;
}

#part8 {
    background: url("../img/ironman.jpg") -480px -150px;
}

#part9 {
    background: url("../img/ironman.jpg") -720px -150px;
}

#part10 {
    background: url("../img/ironman.jpg") -960px -150px;
}

#part11 {
    background: url("../img/ironman.jpg") 0 -300px;
}

#part12 {
    background: url("../img/ironman.jpg") -240px -300px;
}

#part13 {
    background: url("../img/ironman.jpg") -480px -300px;
}

#part14 {
    background: url("../img/ironman.jpg") -720px -300px;
}

#part15 {
    background: url("../img/ironman.jpg") -960px -300px;
}

#part16 {
    background: url("../img/ironman.jpg") 0 -450px;
}

#part17 {
    background: url("../img/ironman.jpg") -240px -450px;
}

#part18 {
    background: url("../img/ironman.jpg") -480px -450px;
}

#part19 {
    background: url("../img/ironman.jpg") -720px -450px;
}

#part20 {
    background: url("../img/ironman.jpg") -960px -450px;
}

#part21 {
    background: url("../img/ironman.jpg") 0 -600px;
}

#part22 {
    background: url("../img/ironman.jpg") -240px -600px;
}

#part23 {
    background: url("../img/ironman.jpg") -480px -600px;
}

#part24 {
    background: url("../img/ironman.jpg") -720px -600px;
}

#part25 {
    background: url("../img/ironman.jpg") -960px -600px;
}

#restart {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
}